<a name="top"></a>
<div id="header" class="center clearfix">
  <h1 class="txt-shadow"><a href="{{ CONFIG.web_url }}" title="{{ CONFIG.web_name }}">{{ CONFIG.web_name }}</a></h1>
  <div id="description" class="center clearfix">
    <h3 class="txt-shadow">{{ CONFIG.web_description }}</h3>
  </div>
</div>